.hero{
    background-image: url(../image/Hero.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(52% 0, 100% 0, 100% 30%, 100% 83%, 51% 93%, 0 85%, 0 0);
    position: relative;
   
}
.hero-overly{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: -1;
}
.margin-bottom{
    margin-bottom: 0;
}
.animation-button{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    position: relative;
}
.animated{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid gray;
    top: 0%;
    left: 0%;
    animation: animation .7s linear infinite;
}
@keyframes animation{
0%{
transform: scale(1);
opacity: 0;
}
0%{
    transform: scale(1.4);
    opacity: 1;
    }
}
/* ------carousel------ */
.carousel-image{
    filter: grayscale(100%);
}
.carousel-image:hover{
    filter: grayscale(0%);
}
.icons{
    width: 50px;
    height: 60px;
    background-color: #FFF2E7;
    padding: 0px 0px 0px 5px;
    font-size: 40px;
    color: orange;
}
.card-overly{
    position: relative;
   
}
.card-overly::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.424);
   opacity: 0;
   transition: all .5s;
}

.overly-show:hover .card-overly::before{
    opacity: 1;
}
.fill-orange{
    fill: orange;
}
.study-video{
    position: relative;
    background-image: url(../image/04.jpg);
    background-size: cover;
     height: 300px;
}
.study-video a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer{
    background-color: #1D3B53;
}
.footer span{
    background-color: white;
    padding: 9px;
    border-radius: 13px;
    font-size: 18px;
}